extends layout

block content
  .homepage
    a(style="color: red" href="https://github.com/menty44/project-mulla" target="_blank")
      h1= title
    p ... Mpesa Rest Mediator
    footer
      p.text-center.text-muted.small-padding
        | © 2017, with <span class="red">love</span> by
        <a class="red" target="_blank" href="http://twitter.com/menty44">Fred Oluoch</a>
